<dom-module id="connectionsView-view-styles">
    <template>
        <style  include="shared-styles">

            :host{
                --paper-card-header-image: {
                    height: 200px;
                }
                ;

                --paper-card-content: {
                    background: var(--app-primary-color)
                }
                ;

                --paper-card-header-text:{
                 color:whitesmoke;
                 font-weight: bold;
                };
            }
           

        </style>
    </template>
</dom-module>
