<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">


<link rel="import" href="./gallery-view-styles.html">
<link rel="import" href="../shared-styles.html">


<dom-module id="gallery-view">
    
<template>
    <style include="gallery-view-styles shared-styles"></style>

    <app-location id="location" route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>
    <app-route id="routes" route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <template is="dom-repeat" items="[[dataHeroes]]" as="hero">
        <paper-card class="card" heading="[[hero.name]]" image="[[hero.url]]" alt="Emmental">
        </paper-card>
    </template>

</template>


    <script src="./gallery-view.js"></script>
</dom-module>
