<link rel="import" href="../../../bower_components/polymer/polymer-element.html">


<link rel="import" href="./home-view-styles.html">


<dom-module id="home-view">
    
<template>
    <style include="home-view-styles"></style>
<h1>Bienvenido a HEROES APP</h1>
<p>En esta aplicacion podras encontrar informacion de tus heroes favoritos como sus poderes, conexiones, publicaciones etc.</p>

<img src="./src/images/heroes.jpg"></img>
</template>


    <script src="./home-view.js"></script>
</dom-module>
